#title {
  position: absolute;
  background: rgba(0, 0, 0, 0.0);
  top: 10%;
  left: 24%;
  width: 60vw;

  h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: calc(4vh + 4vw);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    position: relative;
    color: $primaryText;
  }

  h2 {
    margin: 0;
    font-size: calc(1.5vh + 1.5vw);
    font-family: 'Roboto', sans-serif;
    color: $primaryCool;
  }
}