@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@keyframes moveLine {
  0% { transform: translateY(-10vh); }
  100% { transform: translateY(10vh); }
}

@mixin animateLine ($pos, $opacity) {
  top: $pos;
  opacity: $opacity;
  animation: moveLine 3s linear infinite
}