nav {
  @include flexCenter(column);
  height: 100vh;
  background: $secondaryBackground;
  width: $logoSize;
  position: absolute;
  @media screen and (max-width: $break-small) {
    @include flexCenter(row);
    width: 100vw;
    height: $logoSize;
  }

  #logo {
    background: $tertiaryBackground;
    position: absolute;
    width: $logoSize;
    height: $logoSize;
    left: 0px;
    top: 0px;

    img {
      position: absolute;
    }
  }
  
  #contact {
    position: absolute;
    top: $logoSize;

    @media screen and(max-width: $break-small) {
      top: 0px;
      left: $logoSize;
      height: $logoSize;
      @include flexCenter(row);
      align-items: center;
    }

    i {
      padding: 12px 25px;
      font-size: 22px;
      color: $secondaryText;
      &:hover {
        color: $primaryText;
      }
    }
  }
  
  #links {

    .active{
      position: relative;

      #triangle {
        position: absolute;
        top: 16px + 13.5px;
        left: 82%;

        width: 0; 
        height: 0; 
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; 
        
        border-right:10px solid $primaryBackground; 
      }

      i {
        color: $primaryCool;
      }
    }

    i {
      padding: 25px;
      font-size: $iconSize;
      width: $iconSize;
      height: $iconSize;
      color: $primaryText;
      &:hover {
        color: $primaryCool;
      }
    }
    @media screen and (max-width: $break-small){
      display: none;
    }
  }

  #menu {
    display: none;
    position: absolute;

    @media screen and (max-width: $break-small){
      display: block;
      right: 0;
      padding: 10px;
      
      span {
        display: block;
        width: 33px;
        height: 4px;
        position: relative;
        margin-bottom: 5px;
        background: $primaryCool;
        border-radius: 3px;
      }
    }
  }
}