$primaryBackground: #1d1d23;
$secondaryBackground: #131317;
$tertiaryBackground: #09090b;
$primaryCool: rgb(33, 211, 146);
$primaryHot: rgb(206, 37, 34);
$primaryText: #E5E7E0;
$secondaryText: rgb(110, 110, 107);
$iconSize: 32px;
$break-small: 500px;
$break-large: 1200px;
$logoSize: 72px;