nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: #131317;
  width: 72px;
  position: absolute;
}

@media screen and (max-width: 500px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100vw;
    height: 72px;
  }
}

nav #logo {
  background: #09090b;
  position: absolute;
  width: 72px;
  height: 72px;
  left: 0px;
  top: 0px;
}

nav #logo img {
  position: absolute;
}

nav #contact {
  position: absolute;
  top: 72px;
}

@media screen and (max-width: 500px) {
  nav #contact {
    top: 0px;
    left: 72px;
    height: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    align-items: center;
  }
}

nav #contact i {
  padding: 12px 25px;
  font-size: 22px;
  color: #6e6e6b;
}

nav #contact i:hover {
  color: #E5E7E0;
}

nav #links .active {
  position: relative;
}

nav #links .active #triangle {
  position: absolute;
  top: 29.5px;
  left: 82%;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #1d1d23;
}

nav #links .active i {
  color: #21d392;
}

nav #links i {
  padding: 25px;
  font-size: 32px;
  width: 32px;
  height: 32px;
  color: #E5E7E0;
}

nav #links i:hover {
  color: #21d392;
}

@media screen and (max-width: 500px) {
  nav #links {
    display: none;
  }
}

nav #menu {
  display: none;
  position: absolute;
}

@media screen and (max-width: 500px) {
  nav #menu {
    display: block;
    right: 0;
    padding: 10px;
  }
  nav #menu span {
    display: block;
    width: 33px;
    height: 4px;
    position: relative;
    margin-bottom: 5px;
    background: #21d392;
    border-radius: 3px;
  }
}

#title {
  position: absolute;
  background: rgba(111, 111, 111, 0);
  top: 100px;
  left: 100px;
  height: 275px;
  width: 45vw;
}

#title h1 {
  font-family: 'Source Code Pro', monospace;
  font-size: calc(4vh + 4vw);
  font-weight: bolder;
  letter-spacing: 1px;
  margin: 0;
  position: relative;
  color: #E5E7E0;
}

#title h2 {
  margin: 0;
  font-size: calc(1.5vh + 1.5vw);
  font-family: 'Roboto', sans-serif;
  color: #21d392;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body #background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #1d1d23;
}
/*# sourceMappingURL=index.css.map */