#contact {
  display: block;
  @include flexCenter(column);
  height: 60vh;
  background: rgba(25, 25, 25, 1);
  margin: auto;
  margin-bottom: 10vh; 

  h1 {
    color: $primaryCool;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
  }
  input {
    margin: 20px;

  }

  button, input {
    border: 2px solid gray;
    background: rgba(25, 25, 25, 0.5);
    color: $primaryCool;
    height: 50px;
    width: 40%;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  // Why is it so hard to change the styling of autofilled forms. Sigh.
  @keyframes autofill {
    to {
        color: $primaryCool;
        background: transparent;
    }
  }

  input:-webkit-autofill {
      animation-name: autofill;
      animation-fill-mode: both;
  }

  button:hover, button:focus, input:hover, input:focus, textarea:hover, textarea:focus {
    background: rgba(20, 20, 20, 0.5);
  }

  .field-half {
    width: 90%;
    margin-left: -20px;
  }

  textarea {
    box-sizing: border-box;
    padding: 10px;
    width: 90%;
    height: 50%;
    margin: 0;
    border: 2px solid gray;
    background: rgba(25, 25, 25, 0.5);
    color: whitesmoke;
    font-size: 14.5px;
  }

  button[type="submit"]:hover {
    background: $primaryCool;
    color: black;
    cursor: pointer;
  }

  button[type="reset"]:hover {
    background: $purpleHighlight;
    color: black;
    cursor: pointer;
  }
}