#title {
  position: absolute;
  background: rgba(0, 0, 0, 0.0);
  top: 19%;
  left: 24%;
  width: 60vw;

  h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: calc(4vh + 4vw);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    transform: scaleX(1.25);

    span {
      color: transparent;
      // background: linear-gradient(#000000 0%,#113e87 22%,#10cccc 50%,#000000 51%,#e21ddc 78%,#ffffff 100%);
      // background: linear-gradient(#000000 0%,#113e87 22%,#10cccc 50%,#113e87 78%,#10cccc 100%);
      background: linear-gradient(#fff 0%,#fff 22%,#8a8a8a 50%,rgb(56, 56, 56) 51%,#fff 78%,#fff 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      z-index: 1;

      &#outline {
        -webkit-text-stroke: 9px rgb(117, 117, 117);
        text-shadow:    0px -10px 12px black,
                        0px -10px 12px black,
                        0px  10px 12px black,
                        0px  10px 12px black,
                       10px  10px 12px black,
                       10px -10px 12px black,
                      -10px  10px 12px black,
                      -10px -10px 12px black;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
      }
    }

    
  }

  h2 {
    margin-right: 0;
    margin-top: -1vh;
    float: right;
    font-size: calc(2.2vh + 2.2vw);
    font-family: 'Damion', cursive;
    // text-shadow: -2px -2px 1px $primaryHot;
    color: $primaryCool;
    transform: skewY(-10deg);
  }
}