nav {
  @include flexCenter(column);
  height: 100vh;
  background: $secondaryBackground;
  width: $logoSize;
  position: absolute;
  @media screen and (max-width: $break-small), (max-height: $break-small) {
    @include flexCenter(row);
    width: 100vw;
    height: $logoSize;
  }

  #logo {
    background: $tertiaryBackground;
    position: absolute;
    width: $logoSize;
    height: $logoSize;
    left: 0px;
    top: 0px;

    img {
      position: absolute;
    }
  }
  
  #contact-icons {
    position: absolute;
    top: $logoSize;

    @media screen and (max-width: $break-small), (max-height: $break-small) {
      top: 0px;
      left: $logoSize;
      height: $logoSize;
      @include flexCenter(row);
    }

    i {
      padding: 12px 25px;
      font-size: 22px;
      color: $secondaryText;
      &:hover {
        color: $primaryText;
      }
    }
  }
  
  #links {

    [aria-current="page"] {
      position: relative;

      i {
        color: $primaryCool;
      }
    }

    i {
      padding: 25px;
      font-size: $iconSize;
      width: $iconSize;
      height: $iconSize;
      color: $primaryText;
      &:hover {
        color: $primaryCool;
      }
    }
    @media screen and (max-width: $break-small), (max-height: $break-small){
      @include flexCenter(row);
      i {
        font-size: 22px;
      }
    }
  }
}

.burger-wrapper {
  display: none;
  position: absolute;

  @media screen and (max-width: $break-small), (max-height: $break-small){
    display: block;
    right: 0;
    padding: 10px;
  }
}

// Burger menu button
$burger--thickness: 4px;
.burger {
	$width: 28px;
	
	display: inline-block;
  border: 0;
	background: none;
	outline: 0;
	padding: 0;
	cursor: pointer;

	border-bottom: $burger--thickness solid $primaryCool;
	width: $width;

	transition: border-bottom 1s ease-in-out;
	-webkit-transition: border-bottom 1s ease-in-out; 

	// Fix for extra space in Firefox
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}	 

	&:before {
		content: "";
		display: block;
		border-bottom: $burger--thickness solid $primaryCool;
		width: 100%;
		margin-bottom: 5px;
		transition: transform 0.5s ease-in-out;    
		-webkit-transition: -webkit-transform 0.5s ease-in-out;        
	}

	&:after {
		content: "";
		display: block;
		border-bottom: $burger--thickness solid $primaryCool;
		width: 100%;
		margin-bottom: 5px;
		transition: transform 0.5s ease-in-out;
		-webkit-transition: -webkit-transform 0.5s ease-in-out;
	}
}

.burger-check {
  display: none;
}

.burger-check:checked ~ .burger {
  border-bottom: $burger--thickness solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;

  &:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);      
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }

  &:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px); 
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);       
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }
}

// * * * Navigation * * *
$navigation__transition: max-height 0.5s ease-in-out;

.navigation {
  overflow: hidden;
  max-height: 0;
  
  transition: $navigation__transition;
}

.burger-check:checked ~ .navigation {
  max-height: 500px;
  
  transition: $navigation__transition;
}
