$navigation__transition: top 0.1s ease-in-out;

#logo {
  background: $tertiaryBackground;
  position: absolute;
  top:0;
  left:0;
  width: $logoSize;
  height: $logoSize;
}

nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: $secondaryBackground;
  width: $logoSize;
  position: fixed;
  top: 0;

  @media screen and (max-width: $break-small), (max-height: $break-small) {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: $logoSize;
    top: -$logoSize;
    transition: $navigation__transition;
  }
  
  .placeholder {
    width: $logoSize;
    height: $logoSize;
    content: '';
    display: block;
  }
  
  #contact-icons {
    @media screen and (max-width: $break-small), (max-height: $break-small) {
      @include flexCenter(row);
    }
    
    i {
      padding: 12px 25px;
      font-size: 22px;
      color: $secondaryText;
      &:hover {
        color: $primaryText;
      }
    }
  }
  
  #links {
    @include flexCenter(column);
    
    [aria-current="page"] {
      i {
        color: $primaryCool;
      }
    }
    
    i {
      padding: 25px;
      font-size: $iconSize;
      color: $primaryText;
      &:hover {
        color: $primaryCool;
      }
    }

    .highlight {
      i {
        color: $primaryCool;
      }
    }
    
    @media screen and (max-width: $break-small), (max-height: $break-small){
      @include flexCenter(row);
      i {
        font-size: 22px;
      }
    }
  }
}

// Burger menu button
$burger--thickness: 4px;
.burger {
  $width: 28px;
  display: none;
  
  @media screen and (max-width: $break-small), (max-height: $break-small){
    display: inline-block;
    position: fixed;
    background: none;
    right: 15px;
    top: 15px;
    outline: 0;
    padding: 0;
    cursor: pointer;
    
    border-bottom: $burger--thickness solid $primaryCool;
    width: $width;
  
    transition: border-bottom 1s ease-in-out;
    -webkit-transition: border-bottom 1s ease-in-out; 
    z-index:10;
  }

	// Fix for extra space in Firefox
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}	 

	&:before {
		content: "";
		display: block;
		border-bottom: $burger--thickness solid $primaryCool;
		width: 100%;
		margin-bottom: 5px;
		transition: transform 0.5s ease-in-out;    
		-webkit-transition: -webkit-transform 0.5s ease-in-out;        
	}

	&:after {
		content: "";
		display: block;
		border-bottom: $burger--thickness solid $primaryCool;
		width: 100%;
		margin-bottom: 5px;
		transition: transform 0.5s ease-in-out;
		-webkit-transition: -webkit-transform 0.5s ease-in-out;
	}
}

.burger-check {
  display: none;
}

.burger-check:checked ~ .burger {
  border-bottom: $burger--thickness solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;

  &:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);      
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }

  &:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px); 
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);       
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }
}

.burger-check:checked ~ nav {
  top: 0px;
  transition: $navigation__transition;
}