$border-width: 2px;
$reverse: false;

#skills {
  display: grid;
  width: 100%;
  background: rgba(25, 25, 25, 1);
  color: lightgray;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  .skill-divider {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media screen and (max-width: $break-med) {
      flex-direction: column;
    }
  }

  .skill-section{
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    color: $primaryCool;
    text-align: center;
    font-size:  2.5rem;
    letter-spacing: 3px;
    padding: 40px;
    margin: 10px;
    background: $secondaryBackground;
    @media screen and (max-width: $break-med) {
      margin: 0;
    }

  }

  h2 {
    font-size: 2rem;
    color: $primaryHot;
  }

  ul {
    font-size: 1.2rem;
  }
}
