.css3D-text-shadow {
  margin: 0;
  font-size: 8vw;
  padding: 2rem;
  color: #fff;
  font-family: Montserrat, Arial Black, sans-serif;
  text-align: center;
  text-shadow: 0 .01em 0 $purpleHighlight, 
    0 .02em 0 $purpleHighlight, 
    0 .03em 0 $purpleHighlight, 
    0 .04em 0 $purpleHighlight, 
    0 .05em 0 $purpleHighlight, 
    0 .06em 0 $purpleHighlight, 
    0 .07em 0 $purpleHighlight, 
    0 .08em 0 $purpleHighlight, 
    0 .09em 0 $purpleHighlight, 
    0 .10em 0 $purpleHighlight, 
    0 .06em .02em rgba(104, 104, 92, 0.2), 
    0 -.02em .03em rgba(104, 104, 92, 0.17), 
    -.02em .10em .02em rgba(104, 104, 92, 0.15), 
    -.08em .10em .06em rgba(104, 104, 92, 0.15);
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -o-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-character: "\2010";
}

#title {
  position: block;
  background: rgba(0, 0, 0, 0.0);
  width: 60vw;
  margin: auto;
  margin-top: 20vh;
  margin-left: 25vw;
  margin-bottom: 50vh;

  @media screen and (max-width: $break-small), (max-height: $break-small) {
    @include flexCenter(column);
  }

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(2.8vh + 2.8vw + 22px);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    transform: scaleX(1.25);
    letter-spacing: calc(.3vw + .3vh);

    span {
      color: transparent;
      // background: linear-gradient(#000000 0%,#113e87 22%,#10cccc 50%,#000000 51%,#e21ddc 78%,#ffffff 100%);
      // background: linear-gradient(#000000 0%,#113e87 22%,#10cccc 50%,#113e87 78%,#10cccc 100%);
      // background: linear-gradient(#fff 0%,
      //                             rgb(141, 103, 0) 22%,
      //                             rgb(255, 241, 179) 50%,
      //                             rgb(24, 20, 0) 51%,
      //                             rgb(141, 103, 0) 60%, 
      //                             rgb(255, 241, 179) 70%,
      //                             #fff 100%);                 
      background: linear-gradient(rgb(2, 1, 1) 0%,
      rgb(0, 12, 117) 22%,
      rgb(193, 197, 255) 50%,
      rgb(12, 0, 24) 51%,
      rgb(113, 0, 141) 60%, 
      rgb(212, 71, 255) 70%,
      #fff 100%);                            
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      z-index: 1;

      &#outline {
        -webkit-text-stroke: calc(0.15vh + 0.15vw) rgb(165, 165, 165);
        @include textOutline(0.6vw, 0.6vw, black);
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
      }
    }
  }

  h2 {
    margin-right: 0;
    margin-top: -1vh;
    float: right;
    font-size: calc(2.7vh + 2.7vw);
    font-family: 'Damion', cursive;
    // text-shadow: -2px -2px 1px $primaryHot;
    color: $primaryCool;
    transform: skewY(-10deg);
  }
}