@import url('https://fonts.googleapis.com/css?family=Damion|Work+Sans&display=swap');
$primaryBackground: #0c102d;
$secondaryBackground: #131317;
$tertiaryBackground: #09090b;
$primaryCool: rgb(33, 211, 146);
$primaryHot: rgb(206, 37, 34);
$primaryText: #E5E7E0;
$secondaryText: rgb(110, 110, 107);
$purpleHighlight: rgb(150,19,113);
$iconSize: 32px;
$break-small: 500px;
$break-large: 1200px;
$logoSize: 72px;