@import "./variables";
@import "./mixins";
@import "./nav";
@import "./title";
@import "./background";
@import "./background2";
@import "./portfolio";
@import "./skills";
@import "./contact";
@import "./scrollbar";

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.row {
  @include flexCenter(row);
}

.content-wrapper {
  width: 75vw;
  margin: auto;

  @media screen and (max-width: $break-small), (max-height: $break-small) {
    width: 100vw;
  }
}