@import url("https://fonts.googleapis.com/css?family=Damion|Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@font-face {
  font-family: 'Azonix';
  src: url("./fonts/Azonix.otf");
}

#logo {
  background: #09090b;
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 72px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background: #131317;
  width: 72px;
  position: fixed;
  top: 0;
}

@media screen and (max-width: 650px), (max-height: 650px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100vw;
    height: 72px;
    top: -72px;
    -webkit-transition: top 0.1s ease-in-out;
    transition: top 0.1s ease-in-out;
  }
}

nav .placeholder {
  width: 72px;
  height: 72px;
  content: '';
  display: block;
}

@media screen and (max-width: 650px), (max-height: 650px) {
  nav #contact-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

nav #contact-icons i {
  padding: 12px 25px;
  font-size: 22px;
  color: #6e6e6b;
}

nav #contact-icons i:hover {
  color: #E5E7E0;
}

nav #links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #links [aria-current="page"] i {
  color: #21d392;
}

nav #links i {
  padding: 25px;
  font-size: 32px;
  color: #E5E7E0;
}

nav #links i:hover {
  color: #21d392;
}

nav #links .highlight i {
  color: #21d392;
}

@media screen and (max-width: 650px), (max-height: 650px) {
  nav #links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav #links i {
    font-size: 22px;
  }
}

.burger {
  display: none;
}

@media screen and (max-width: 650px), (max-height: 650px) {
  .burger {
    display: inline-block;
    position: fixed;
    background: none;
    right: 15px;
    top: 15px;
    outline: 0;
    padding: 0;
    cursor: pointer;
    border-bottom: 4px solid #21d392;
    width: 28px;
    transition: border-bottom 1s ease-in-out;
    -webkit-transition: border-bottom 1s ease-in-out;
    z-index: 10;
  }
}

.burger::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.burger:before {
  content: "";
  display: block;
  border-bottom: 4px solid #21d392;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger:after {
  content: "";
  display: block;
  border-bottom: 4px solid #21d392;
  width: 100%;
  margin-bottom: 5px;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check {
  display: none;
}

.burger-check:checked ~ .burger {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out;
}

.burger-check:checked ~ .burger:before {
  transform: rotate(-405deg) translateY(1px) translateX(-3px);
  -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check:checked ~ .burger:after {
  transform: rotate(405deg) translateY(-4px) translateX(-5px);
  -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger-check:checked ~ nav {
  top: 0px;
  -webkit-transition: top 0.1s ease-in-out;
  transition: top 0.1s ease-in-out;
}

.css3D-text-shadow {
  margin: 0;
  font-size: 8vw;
  padding: 2rem;
  color: #fff;
  font-family: Montserrat, Arial Black, sans-serif;
  text-align: center;
  text-shadow: 0 0.01em 0 #961371, 0 0.02em 0 #961371, 0 0.03em 0 #961371, 0 0.04em 0 #961371, 0 0.05em 0 #961371, 0 0.06em 0 #961371, 0 0.07em 0 #961371, 0 0.08em 0 #961371, 0 0.09em 0 #961371, 0 0.1em 0 #961371, 0 0.06em 0.02em rgba(104, 104, 92, 0.2), 0 -0.02em 0.03em rgba(104, 104, 92, 0.17), -0.02em 0.1em 0.02em rgba(104, 104, 92, 0.15), -0.08em 0.1em 0.06em rgba(104, 104, 92, 0.15);
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -o-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-character: "\2010";
}

#title {
  position: block;
  background: rgba(0, 0, 0, 0);
  width: 60vw;
  margin: auto;
  margin-top: 20vh;
  margin-left: 25vw;
  margin-bottom: 60vh;
}

@media screen and (max-width: 650px), (max-height: 650px) {
  #title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#title h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(2.8vh + 2.8vw + 22px);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  -webkit-transform: scaleX(1.25);
          transform: scaleX(1.25);
  letter-spacing: calc(.3vw + .3vh);
}

#title h1 span {
  color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#020101), color-stop(22%, #000c75), color-stop(50%, #c1c5ff), color-stop(51%, #0c0018), color-stop(60%, #71008d), color-stop(70%, #d447ff), to(#fff));
  background: linear-gradient(#020101 0%, #000c75 22%, #c1c5ff 50%, #0c0018 51%, #71008d 60%, #d447ff 70%, #fff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}

#title h1 span#outline {
  -webkit-text-stroke: calc(0.15vh + 0.15vw) #a5a5a5;
  text-shadow: 0px -0.6vw 0.6vw black, 0px -0.6vw 0.6vw black, 0px 0.6vw 0.6vw black, 0px 0.6vw 0.6vw black, 0.6vw 0.6vw 0.6vw black, 0.6vw -0.6vw 0.6vw black, -0.6vw 0.6vw 0.6vw black, -0.6vw -0.6vw 0.6vw black;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

#title h2 {
  margin-right: 0;
  margin-top: -1vh;
  float: right;
  font-size: calc(2.7vh + 2.7vw);
  font-family: 'Damion', cursive;
  color: #21d392;
  -webkit-transform: skewY(-10deg);
          transform: skewY(-10deg);
}

@-webkit-keyframes moveLine {
  0% {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
  100% {
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
  }
}

@keyframes moveLine {
  0% {
    -webkit-transform: translateY(-10vh);
            transform: translateY(-10vh);
  }
  100% {
    -webkit-transform: translateY(10vh);
            transform: translateY(10vh);
  }
}

#background {
  margin: 0;
  border: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: radial-gradient(circle calc(13vw + 13vh) at 50% 27%, #ce1b9b, #0c102d);
  z-index: -999;
  top: 0px;
  -webkit-filter: blur(1px) brightness(95%);
          filter: blur(1px) brightness(95%);
  overflow: hidden;
}

#background .grid-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0px;
  -webkit-perspective: calc(7.0vw + 7.0vh + 50px);
          perspective: calc(7.0vw + 7.0vh + 50px);
  background-image: url("../images/bg.svg");
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: calc(17vh + 17vw);
  background-color: rgba(12, 16, 45, 0);
}

#background .grid {
  position: absolute;
  top: 0;
  left: -50%;
  right: 0;
  bottom: 0;
  width: 200%;
  height: 100%;
  margin-top: -50px;
  -webkit-transform: rotate3d(1, 0, 0, 45deg);
          transform: rotate3d(1, 0, 0, 45deg);
  background: #140214;
  background: radial-gradient(circle closest-side at 50% 37%, #961371, #140214);
}

#background .line {
  position: absolute;
  background: rgba(87, 193, 232, 0.35);
  -webkit-box-shadow: 0px 0px 1px #21d392;
          box-shadow: 0px 0px 1px #21d392;
}

#background .vertical .line {
  top: 0;
  left: 0;
  bottom: 0;
  width: calc(0.16vw + 0.16vh);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#57c1e8));
  background: linear-gradient(top, rgba(255, 255, 255, 0), #57c1e8);
}

#background .vertical .line:nth-child(1) {
  left: 10%;
}

#background .vertical .line:nth-child(2) {
  left: 20%;
}

#background .vertical .line:nth-child(3) {
  left: 30%;
}

#background .vertical .line:nth-child(4) {
  left: 40%;
}

#background .vertical .line:nth-child(5) {
  left: 50%;
}

#background .vertical .line:nth-child(6) {
  left: 60%;
}

#background .vertical .line:nth-child(7) {
  left: 70%;
}

#background .vertical .line:nth-child(8) {
  left: 80%;
}

#background .vertical .line:nth-child(9) {
  left: 90%;
}

#background .vertical .line:nth-child(10) {
  left: 100%;
}

#background .horizontal .line {
  top: 0;
  left: 0;
  right: 0;
  height: calc(0.16vw + 0.16vh);
  z-index: 2;
  background: #57c1e8;
}

#background .horizontal .line:nth-child(1) {
  top: 0%;
  opacity: 0.1;
  -webkit-animation: moveLine 3s linear infinite;
          animation: moveLine 3s linear infinite;
}

#background .horizontal .line:nth-child(2) {
  top: 10%;
  opacity: 0.2;
  -webkit-animation: moveLine 3s linear infinite;
          animation: moveLine 3s linear infinite;
}

#background .horizontal .line:nth-child(3) {
  top: 20%;
  opacity: 0.3;
  -webkit-animation: moveLine 3s linear infinite;
          animation: moveLine 3s linear infinite;
}

#background .horizontal .line:nth-child(4) {
  top: 30%;
  opacity: 0.4;
  -webkit-animation: moveLine 3s linear infinite;
          animation: moveLine 3s linear infinite;
}

#background .horizontal .line:nth-child(5) {
  top: 40%;
  opacity: 0.5;
  -webkit-animation: moveLine 3s linear infinite;
          animation: moveLine 3s linear infinite;
}

#background .horizontal .line:nth-child(6) {
  top: 50%;
  opacity: 0.6;
  -webkit-animation: moveLine 3s linear infinite;
          animation: moveLine 3s linear infinite;
}

#background .horizontal .line:nth-child(7) {
  top: 60%;
  opacity: 0.7;
  -webkit-animation: moveLine 3s linear infinite;
          animation: moveLine 3s linear infinite;
}

#background .horizontal .line:nth-child(8) {
  top: 70%;
  opacity: 0.8;
  -webkit-animation: moveLine 3s linear infinite;
          animation: moveLine 3s linear infinite;
}

#background .horizontal .line:nth-child(9) {
  top: 80%;
  opacity: 0.9;
  -webkit-animation: moveLine 3s linear infinite;
          animation: moveLine 3s linear infinite;
}

#background .horizontal .line:nth-child(10) {
  top: 90%;
  opacity: 1;
  -webkit-animation: moveLine 3s linear infinite;
          animation: moveLine 3s linear infinite;
}

#background .horizontal .line:nth-child(11) {
  top: 100%;
  opacity: 1;
  -webkit-animation: moveLine 3s linear infinite;
          animation: moveLine 3s linear infinite;
}

#projects {
  display: block;
  height: 60vh;
  width: 100%;
  background: #191919;
  margin: auto;
  margin-bottom: 15px;
  text-align: center;
}

#projects h1 {
  color: #21d392;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
  padding: 10px;
}

#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: #191919;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: lightgray;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#skills .skill-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  #skills .skill-divider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#skills .skill-section {
  margin-left: 30px;
}

#skills h1 {
  height: 100%;
  color: #21d392;
  text-align: center;
  font-size: 42px;
  letter-spacing: 3px;
  padding: 40px;
  margin: 10px;
  background: #131317;
}

@media screen and (max-width: 900px) {
  #skills h1 {
    margin: 0;
  }
}

#skills h2 {
  font-size: 28px;
  color: #ce2522;
}

#skills ul {
  font-size: 22px;
}

.card {
  display: inline-block;
  height: 300px;
  width: 600px;
  margin-top: 2vh;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #21d392;
  background: #060816;
}

.tree ul {
  position: relative;
  padding: 1em 0;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
}

.tree ul::after {
  content: '';
  display: table;
  clear: both;
}

.tree li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 1em .5em 0 .5em;
}

.tree li::before, .tree li::after {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 2px solid #FFF;
  width: 50%;
  height: 1em;
}

.tree li::after {
  right: auto;
  left: 50%;
  border-left: 2px solid #FFF;
}

.tree li:only-child::after, .tree li:only-child::before {
  display: none;
}

.tree li:only-child {
  padding-top: 0;
}

.tree li:first-child::before, .tree li:last-child::after {
  border: 0 none;
}

.tree li:last-child::before {
  border-right: 2px solid #ccc;
  border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
  border-radius: 5px 0 0 0;
}

.tree ul ul::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  border-left: 2px solid #ccc;
  width: 0;
  height: 1em;
}

.tree li button {
  border: 2px solid #ccc;
  padding: .5em .75em;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  color: #ececec;
  position: relative;
  top: 2px;
  background: transparent;
  font-size: 18px;
}

.tree li button:hover,
.tree li button:hover + ul li button {
  background: transparent;
  color: #21d392;
  border: 2px solid #21d392;
}

.tree li button:hover + ul li::after,
.tree li button:hover + ul li::before,
.tree li button:hover + ul::before,
.tree li button:hover + ul ul::before {
  border-color: #21d392;
}

#contact {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
  min-height: 60vh;
  background: #191919;
  margin: auto;
  margin-bottom: 10vh;
}

#contact h1 {
  color: #21d392;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 3px;
}

#contact input {
  margin: 20px;
}

#contact button, #contact input {
  border: 2px solid gray;
  background: rgba(25, 25, 25, 0.5);
  color: #21d392;
  height: 50px;
  width: 40%;
  margin: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

@-webkit-keyframes autofill {
  to {
    color: #21d392;
    background: transparent;
  }
}

@keyframes autofill {
  to {
    color: #21d392;
    background: transparent;
  }
}

#contact input:-webkit-autofill {
  -webkit-animation-name: autofill;
          animation-name: autofill;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#contact button:hover, #contact button:focus, #contact input:hover, #contact input:focus, #contact textarea:hover, #contact textarea:focus {
  background: rgba(20, 20, 20, 0.5);
}

#contact .field-half {
  width: 90%;
  margin-left: -20px;
}

#contact textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  width: 90%;
  max-width: 90%;
  min-width: 90%;
  min-height: 50%;
  max-height: 600px;
  margin: 0;
  border: 2px solid gray;
  background: rgba(25, 25, 25, 0.5);
  color: whitesmoke;
  font-size: 14.5px;
}

#contact button[type="submit"]:hover {
  background: #21d392;
  color: white;
  cursor: pointer;
}

#contact button[type="reset"]:hover {
  background: #961371;
  color: black;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
  background: #0c102d;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #21d392;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5e5e5e;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  overflow: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-wrapper {
  width: 80vw;
  margin: auto;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 650px), (max-height: 650px) {
  .content-wrapper {
    width: 100vw;
  }
}
/*# sourceMappingURL=index.css.map */