@import "./variables";
@import "./mixins";
@import "./nav";
@import "./title";
@import "./background";
@import "./background2";
@import "./portfolio";
@import "./skills";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.row {
  @include flexCenter(row);
}